html,body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
}
.sostenedor { 
    width: 20px;
    height: 200px;
    background-color:  #212529;
    position: relative;
    left:110px;
 
}

.semaforo {
    width: 240px;
    height: 420px;
    padding: 10px;
    border-radius: 4px;
    background-color:#212529;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.light {
    width: 100px;
    height: 100px;
    /* border: solid grey 1px; */
   border-radius: 50%;
}

.green{
    background-color: green;
}

.yellow {
    background-color: yellow;
}
.red {
    background-color: red;
}